<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">update</property>
      
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/progavanzada</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">utn123</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="com.facultad.Persona" file="" jar="" package="com.facultad" resource="com/facultad/Persona.hbm.xml"/>
    <mapping class="com.facultad.Ciudad" file="" jar="" package="com.facultad" resource="com/facultad/Ciudad.hbm.xml"/>
    <!--<mapping class="com.facultad.Alumno" file="" jar="" package="com.facultad" resource="com/facultad/Alumno.hbm.xml"/>
    <mapping class="com.facultad.Profesor" file="" jar="" package="com.facultad" resource="com/facultad/Profesor.hbm.xml"/>-->
    <mapping class="com.facultad.Facultad" file="" jar="" package="com.facultad" resource="com/facultad/Facultad.hbm.xml"/>
    <mapping class="com.facultad.Carrera" file="" jar="" package="com.facultad" resource="com/facultad/Carrera.hbm.xml"/>
    <mapping class="com.facultad.Materia" file="" jar="" package="com.facultad" resource="com/facultad/Materia.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
